.selectSeat{
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 15px 25px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}    
.seatLegend{
    padding-left:2% ;
    
}

.seatLegend ul li {
    text-align: left;
    list-style: none;
    padding-bottom: 2%;
    
}
.borderChoice{
    border: 5px solid rgb(81, 185, 255);
    border-radius: 50px;
    margin: 3%;
    width:45%;
    background-color: rgb(230, 173, 69);
}

.food{
    background-color: orange;
    border-radius: 10px;
    border: 2px solid rgb(81, 185, 255);
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 24pt;
    padding: 0%;
    
}
.add:hover{
    background-color: rgb(67, 196, 16);
    border:0px;
}
.minus:hover{
    background-color: rgb(241, 89, 63);
    border:0px;
}
input{
    width: 50px;
}
td {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  text-align: center;
}
th{
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
    padding-bottom: 2%;
}
h1{
    text-align: center;
    padding-bottom: 2%;
}
h4{
    text-align: center;
}
h1,h4{
    font-family: 'Oswald', sans-serif;
}

/* Check box seats swapping */
input[type="checkbox"] {
  display:none;
}
input + label {
  display: inline-block;  
  width: 60px;
  height: 30px;
  cursor: pointer;  
  background: url(images/freeseat.png) no-repeat 0 center;
}

input[type="checkbox"]:checked + label {
  background: url(images/occupiedseat.png) no-repeat 0 center;
}

.covid {
    margin-right: 30px;
}

#reciept{
    border: 5px solid rgb(230, 173, 69);
    border-radius: 50px;
    margin: 3%;
    width: 575px;
    background-color: rgb(81, 185, 255);
}

#reciept > p{
    font-family: 'Oswald', sans-serif;
    font-size: 50pt;
}

 