.butt {
    background-color: orange;
    border: none;
    border-radius: 4px;
    
}
table{
    width: 90%;
}

.sin{
    border-top: 5px solid orange;
    border-radius: 1%;
    margin: 5%;
    width:85%;
}
.upperinfo{
    padding: 5pt;
}
.img{
    float: right;
    margin-right: 8%;
}
.shadowbox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
.imgply{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
.imgply:hover{
    transform: scale(1.25);
    /*filter: drop-shadow(8px 8px 10px black); */
    background-color: transparent;
}

.circle {
    color: red;
    box-sizing: border-box;
    position: absolute;
    display: block;
    
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 20px
}
.circle::before {
    content: "";
    color: red;
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 4px;
    left: 7px
}
body{
    background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
p,dd,dt{
    color: white;
}
dd{
    padding-left: 2%;
}
h1,h2,h3,h4{
    color:rgba(255, 0, 0, 0.747);
}