.movie-grid{
    display:grid;
    grid-template-columns: 20% 60% 20% ;
    grid-template: 700pt;
    grid-gap: 5px;
    
    padding:5px;
    margin-top: 50pt;
}

.movie-grid > div{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
}
.image-Size
           {    
                
                margin-left: auto;
                margin-right: auto;
                width: 450pt;
                height: 450pt;
                 
           }
.container2{
    height: 100%;
    width: 100%;
    padding-left:10pt;
    padding-right:10pt;
  
}
.container3{

    height:100%;
    width: 100%;
}
.youtube > iframe{
    height: 500pt;
    width: 500pt;
    margin-top:20pt;
}
body{
    background-color: rgb(229, 236, 243);
}


#nav-movie-tab{
    
    border-radius: 0pt;
    font-size: 20pt;
    color: white;
}
#nav-movie-tab:focus{
    
    color:black!important;;
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover,.nav-pills .nav-link.active:focus{
    background-color:black;
    color:white;
    font-weight:550;

    }
#nav-tabContent2{
    border-top: 4px solid black;
  
    height: 600pt;
    width:100%;
    background: rgb(186,13,13);
    background: linear-gradient(90deg, rgba(186,13,13,1) 0%, rgba(121,9,9,1) 35%, rgba(186,13,13,1) 100%);
}