.movie-grid{
    display:grid;
    grid-template-columns: 20% 60% 20% ;
    grid-template: 700pt;
    grid-gap: 5px;
    
    padding:5px;
    margin-top: 50pt;
}

.movie-grid > div{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
}
.image-Size
           {    
                
                margin-left: auto;
                margin-right: auto;
                width: 450pt;
                height: 450pt;
                 
           }
.container2{
    height: 100%;
    width: 100%;
    padding-left:10pt;
    padding-right:10pt;
  
}
.container3{

    height:100%;
    width: 100%;
}
.youtube > iframe{
    height: 500pt;
    width: 700pt;
    margin-top:50pt;
    border-radius: 10pt;
    border-width: 0pt;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    
}
body{
    background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.Thumb{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height:100%;
    padding-top:1%;

}
.shadowbox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}
#nav-movie-tab{
    
    border-radius: 0pt;
    font-size: 20pt;
    color: Orange;
    text-shadow: 0px 0px 25px rgba(0,0,0,1);
    
    
}
#nav-movie-tab:hover{
    background-color: white;
    /*tab pops out when hover*/
    transform: scale(1.01);  
}
#nav-trailer-tab:hover,#nav-synop-tab:hover, #nav-review-tab:hover{
    background-color: black;
    
}
#nav-movie-tab:focus{
    
    color:black!important;
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover,.nav-pills .nav-link.active:focus{
    background-color:black;
    color:white;
    font-weight:550;

    }
#nav-tabContent2{
    
    border-top: 4px solid black;
    height: 600pt;
    width:100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.7511379551820728) 100%);
    /*background: white;*/
}

dd{
    padding-left: 2%;

}